:root {
    --color-background: #f4f4f9;
    --color-text: #333333;
    --color-button-primary: #16697A;
    --color-button-primary-hover: #0056b3;
    --color-button-secondary: #ffffff;
}

.wavesurfer ::part(cursor):before {
    content: '🏄‍♂️';
}

.wavesurfer ::part(region) {
    font-family: fantasy;
}

.wavesurfer{
    margin-left: 30px;
    margin-right: 20px;
    width: 20vw;
}