:root {
    --color-background: #f4f4f9;
    --color-text: #333333;
    --color-button-primary: #007bff;
    --color-button-primary-hover: #0056b3;
    --color-button-secondary: #ffffff;
}

.wavesurfer ::part(cursor):before {
    content: '🏄‍♂️';
}

.wavesurfer ::part(region) {
    font-family: fantasy;
}

.wavesurfer{
    width: 20vw;
}