.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
.layout-main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.full-width{
    width: 100%;
}
.center-content{
    display: flex;
    justify-content: center;
}
.rounded-block{
    border-radius: 20px;
}
.row-limited-height {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
  }