.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
.layout-main{
    flex-grow: 1;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.full-width{
    width: 100%;
}
.center-content{
    display: flex;
    justify-content: center;
}
.rounded-block{
    border-radius: 20px;
}