a {
	color: var(--joy-palette-main-primary) !important;
}

.layout {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.layout-main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.full-width {
	width: 100%;
}
.center-content {
	display: flex;
	justify-content: center;
}
.rounded-block {
	border-radius: 20px;
}
.row-limited-height {
	height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.leaflet-control-attribution {
	margin-right: 15px !important;
}
.leaflet-control-zoom {
	margin-left: 20px !important;
	margin-top: 20px !important;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	color: var(--joy-palette-main-primary) !important;
}
/* .verticalCarousel{
} */
.slick-vertical {
	width: 100% !important;
	flex-grow: 1 !important;
}
.swiper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.swiper-slide {
	display: flex !important;
	height: auto !important;
	justify-content: center;
	align-items: center;
}
