.carousel-item {
  display: flex;
  align-content: center;
  flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
  height: 100%;
}

.custom-arrow {
  display: block;
  background-color: gray;
  cursor: pointer;
}
